body {
    text-align: center;
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    font-family: Arial;
    margin-top: 100px;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px;
    border: none;
    background: #ff6b6b;
    color: white;
    cursor: pointer;
    .heart {
        position: fixed;
        font-size: 20px;
        animation: explode 1s ease-out forwards;
    }
    
    @keyframes explode {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-200px) scale(2);
            opacity: 0;
        }
    }
}
